@use 'sass:list';
@use 'sass:map';
@use '@styles/colors';

.button {
	--btn-color: inherit;
	--btn-color-border: #{colors.get('border')};
	--btn-color-background: transparent;
	--btn-color-hover: #{colors.get('foreground', 'active')};
	--btn-color-border-hover: #{colors.get('border', 'active')};
	--btn-color-background-hover: #{colors.get('background', 'active')};

	--color-current: currentColor;

	&.icon-only {
		border: none;
		padding: 0.5em;
		.button__text {
			border: 0;
			clip: rect(1px, 1px, 1px, 1px);
			clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			word-wrap: normal !important;
		}
	}

	&.no-border {
		border-color: transparent;
	}

	position: relative;
	display: inline-flex;
	gap: 1em;
	padding: 0.5em 1em;
	border: 1px solid var(--btn-color-border);
	border-radius: 2em;
	color: var(--btn-color);
	background-color: var(--btn-color-background);
	text-decoration: none;
	overflow: hidden;
	z-index: 1;
	transition:
		border-color 0.25s ease-in-out,
		color 0.25s ease-in-out;
	cursor: pointer;
	vertical-align: top;
	align-items: center;
	justify-content: center;

	&::after {
		content: '';
		position: absolute;
		inset: -5%;
		background-color: var(--btn-color-background-hover);
		// transform: translateX(-100%);
		transform: skew(15deg) translateX(-110%);
		z-index: -1;
		transition: transform 0.25s ease-in-out;
	}

	&:hover,
	&:focus {
		color: var(--btn-color-hover);
		border-color: var(--btn-color-border-hover);
		&::after {
			transform: skew(15deg) translateX(0);
		}
	}
}
