---
import BackgroundSpill from '../../components/svg/background-spill.astro'
import Button from '../../components/Button.astro'
import Hero from '../../components/Hero.astro'
import HeroImage from '../../assets/demo-hero.png'
import PostSnippets from '../../components/PostSnippets.astro'
import PrimaryLayout from '../../layouts/PrimaryLayout.astro'
import Section from '../../components/Section.astro'
import WaveSeparator from '../../components/svg/wave-separator.astro'
---

<PrimaryLayout>
	<Hero imageSrc={HeroImage} imageAlt='A bar counter with various drinks'>
		<h1>Good Reads</h1>
		<p>
			Articles and entertaining stories to elevate your cocktail
			experience.
		</p>
	</Hero>
	<Section>
		<BackgroundSpill />
		<p>
			Welcome to **Good Reads**! 📚✨ Here, you'll find a delightful
			collection of articles that dive into the world of cocktails and
			beyond. Whether you're looking to master mixology, discover new
			trends, or simply enjoy some entertaining stories, our blog has
			something for everyone. Sit back, relax, and explore our latest
			posts, packed with tips, recipes, and inspiration to elevate your
			cocktail experience. Happy reading!
		</p>
		<p>_Tipsy_ 🥂</p>
	</Section>
	<Section>
		<h2>All Posts</h2>
		<WaveSeparator />
		<PostSnippets />
	</Section>
	<Section>
		<h2>Explore More Recipes</h2>
		<p>
			Enjoyed these articles? Why not try your hand at mixing up some
			delicious cocktails? Head over to our [Recipes](#) page and discover
			a treasure trove of cocktail creations waiting to be made. From
			classic concoctions to innovative new drinks, there's something for
			every palate. Click the link below and let the mixing begin!
		</p>
		<p><Button href='/recipes'>Recipes</Button></p>
	</Section>
</PrimaryLayout>
