body,
main {
	padding: 0;
	margin: 0;
	display: grid;
	--gap: 2rem;
	grid-template-columns: var(--gap) repeat(6, 1fr) var(--gap);
	grid-template-rows: repeat(2, min-content);
	* {
		grid-column: 2 / -2;
	}
	grid-auto-flow: dense;

	@media (min-width: 768px) {
		grid-template-columns: minmax(2em, auto) repeat(6, minmax(100px, 200px)) minmax(
				2em,
				auto
			);
	}
}

main {
	grid-column: 1 / -1;
}

main {
	margin-block-end: 4rem;
}
