@use 'animations';
@use 'reset';
@use 'typography';
@use 'colors';
@use 'layout';
@use './font-awesome-free/scss/fontawesome.scss';
@use './font-awesome-free/scss/solid.scss';

.screen-reader-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

body {
	*::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5em;
		background-color: var(--neutral-lighteralt);
	}

	*::-webkit-scrollbar-thumb {
		background-color: var(--neutral-quaternary);
		border-radius: 1rem;
	}
}

#search {
	margin-block: 1em;
}
.pagefind-ui__drawer {
	background: var(--white);
	padding: 1rem;
	border-radius: 0.5em;
	margin-block: 1em;
}

.skip-link {
	position: fixed;
	display: inline-block;
	padding: 1em;
	border: 1px solid var(--theme-primary);
	top: 0.5em;
	left: 0.5em;
}

.skip-link:not(:focus) {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}
