@use 'reset';
@use 'breakpoints' as *;
@use 'fonts';
@use '../../public/styles/font-fallbacks.css';
@use 'colors';
@use 'skip_links';

:root {
	--primary-color: #9b1a50;
	--accent-color: #7e400e;
}

@include colors.create(var(--primary-color), var(--accent-color));
@include colors.semantic();

:root {
	@include fonts.body;
}

.heading,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	@include fonts.heading(400);
}

h3,
.h3 {
	@include fonts.heading(700);
}

h2,
.h2 {
	@include fonts.heading(800);
}

h1,
.h1 {
	@include fonts.heading(900);
}

body {
	--column-count: 12;
	--gutter-count: 2;
	--gutter-min: 2rem;
	--max-width: 800px;
	--gap: 2rem;
	--header-height: 6rem;

	// Calculate the gutter width
	--gutter: minmax(
		var(--gutter-min),
		calc(calc(100% - var(--max-width)) / var(--gutter-count))
	);

	--base-grid-columns: var(--gutter) repeat(var(--column-count), 1fr)
		var(--gutter);

	display: grid;
	grid-template-columns: var(--base-grid-columns);

	grid-template-rows: auto 1fr auto;
	background: colors.get('background');
	color: colors.get('foreground');

	@include breakpoint('small') {
		--gutter-min: 1rem;
	}
}

header,
main,
footer {
	grid-column: 1 / -1;
}

main {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: min-content;
	height: min-content;
}

main > section {
	grid-column: 2 / -2;
	margin-block: var(--gap);
	padding-block: var(--gap);

	&:first-of-type {
		margin-block-start: calc(var(--header-height) * -1);
		padding-block-start: calc(var(--header-height) * 2);
	}
}

.drop-shadow {
	filter: drop-shadow(0.15rem 0.152rem 0 colors.get('foreground', 'accent'));
}

a,
a:visited {
	color: inherit;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;

	&:focus {
		background-color: colors.get('background', 'active');
		clip: auto !important;
		clip-path: none;
		color: colors.get('foreground', 'active');
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

picture:has(img) {
	display: contents;

	source {
		display: none;
	}
}

body * {
	&::-webkit-scrollbar {
		height: 0.5em; /* height of horizontal scrollbar ← You're missing this */
		width: 0.5em; /* width of vertical scrollbar */
		background: colors.get('background', 'muted');
	}
	&::-webkit-scrollbar-thumb:horizontal {
		background: colors.get('foreground', 'accent');
		border-radius: 10px;
	}
}
