---
const year = new Date().getFullYear()
---

<footer transition:persist>
	<p>
		We promote responsible drinking. Alcohol can be dangerous if not
		consumed in moderation. Please only use the cocktail recipes on this
		website or consume any alcoholic beverages if you are of legal drinking
		age in your country or region. Remember to always drink responsibly and
		never drink and drive.
	</p>
	<p>
		If you or someone you know is struggling with alcohol abuse, please seek
		help from a qualified professional or contact a local support
		organization.
	</p>
	<br />
	<a class='font-heading logo' href='/'>AskTipsy</a>
	<nav>
		<a href='/recipes'>Recipes</a>
		<a href='/posts'>Posts</a>
	</nav>
	<div class='copywrite'>
		<p>&copy; {year}, All Rights Reserved.</p>
		<p>
			<a target='_blank' href='https://jlodes.com'>jlodes.com</a> |
			<span class='font-heading'><a href='/'>AskTipsy</a></span>
		</p>
	</div>
</footer>

<style lang='scss'>
	footer {
		margin-block-start: auto;
		grid-column: 1 / -1;
		padding-block-start: 1rem;
		text-align: center;
		color: var(--white);
		background: var(--theme-primary);

		> * {
			padding-inline: 2rem;
		}

		.logo {
			font-size: var(--font-size-xxx-large);
		}

		a {
			display: block;
			text-decoration: none;
			color: var(--white);
		}

		.copywrite {
			background-color: var(--black);
			color: var(--white);
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			padding-block: 1rem;
			margin-block-start: 1rem;

			p {
				margin: 0;
				display: flex;
				gap: 1em;
			}
		}
	}
</style>
