---
const { title, href, linkText } = Astro.props
---

<div class='section-heading'>
	{title && <h2>{title}</h2>}
	<slot />
	{href && <a href={href}>{linkText || 'View all'}</a>}
</div>

<style lang='scss'>
	.section-heading {
		display: flex;
		justify-content: space-between;
		align-items: end;
		gap: 1ch;

		h2 {
			margin-block: 0;
		}

		a {
			min-width: fit-content;
		}
	}
</style>
