---
---

<div class="typography-demo">
    <h1>1. Heading One</h1>
    <h2>2. Heading Two</h2>
    <h3>3. Heading Three</h3>
    <h4>4. Heading Four</h4>
    <h5>5. Heading Five</h5>
    <h6>6. Heading Six</h6>
    <p>Paragraph text. Lorem ipsum dolor sit amet.</p>
    <p class="small">Small text. Lorem ipsum dolor sit amet.</p>
    <p class="smaller">Smaller text</p>
    <p><strong>Bold text.</strong></p>
    <p><em>Italic text.</em></p>
    <p><a href="#">Link text.</a></p>
    <p><a href="#" class="button">Button text.</a></p>
    <ul>
        <li>Unordered list item one.</li>
        <li>Unordered list item two.</li>
        <li>Unordered list item three.</li>
    </ul>
    <ol>
        <li>Ordered list item one.</li>
        <li>Ordered list item two.</li>
        <li>Ordered list item three.</li>
    </ol>
    <blockquote>Blockquote text. Lorem ipsum dolor sit amet.</blockquote>
    <pre><code>Preformatted text. Lorem ipsum dolor sit amet.</code></pre>
    <table>
        <thead>
            <tr>
                <th>Table heading one</th>
                <th>Table heading two</th>
                <th>Table heading three</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Table cell one</td>
                <td>Table cell two</td>
                <td>Table cell three</td>
            </tr>
            <tr>
                <td>Table cell four</td>
                <td>Table cell five</td>
                <td>Table cell six</td>
            </tr>
            <tr>
                <td>Table cell seven</td>
                <td>Table cell eight</td>
                <td>Table cell nine</td>
            </tr>
        </tbody>
    </table>
</div>